<div class="row">
    <div class="col-md-12">
        {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success|safe }}
            </div>
        {% endif %}
        {% if warning %}
        <div class="alert alert-warning" role="alert">
            {{ warning|safe }}
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error|safe }}
        </div>
        {% endif %}
    </div>
</div>
